
/* Customized styles */

/* Sidebar header background  08088A;  08298A */
.wy-side-nav-search, .wy-nav-top {
  background: #000033; 
}
 

/* Navigation headings */
.wy-menu .caption-text {
  color: #81BEF7;
  font-weight: bold;

}

span.eqno {
    float: right;
}